/* main */
body {
  margin: 0;
  background-color: #f6d192;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
  font-family: sans-serif;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  height: 500px;
  border-radius: 10px;
  padding-left: 10%;
  padding-top: 15px;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.text-center {
  text-align: center;
}
.cursor-pointer {
  cursor: pointer;
}
.padding-20 {
  padding: 20px;
}

.button {
  font-size: 17px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: #c04b4b;
  width: 70px;
  background: #f6e592;
  font-weight: bold;
  margin-right: 10px;
}

/* ItemViev, NavigateToCompanyAdmin */
.company {
  width: 27%;
  overflow: hidden;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px lightgrey;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  background: white;
}
.company img {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  height: 8em;
  left: 0;
  top: 0;
}

/* Companies, items, products */
.items-container {
  margin: 0 auto;
  box-shadow: 1px 1px 3px 1px gray;
  padding: 5em;
  background: white;
  max-width: 47em;
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

/* AdminCompany, adminProducts */
.navigation-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.navigation-link:hover {
  color: #c04b4b;
}

/* CompanyProducts? */
.products-holder {
  margin: 0 auto;

  max-width: 47em;

  height: 300px;
}
